
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden; 
}

html {
  background-image: url('/public/background/imjuver-pattern.png');
}

body {
  background-image: url('/public/background/imjuver-pattern.png');
  color: var(--ant-color-text-base);
}

.pattern {
  background-image: url('/public/background/imjuver-pattern.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-attachment: fixed;
}
